* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  /* background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
 /* color: #000000; */
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */


  background-image: linear-gradient(
    40deg,
    hsl(240deg 100% 17%) 18%,
    hsl(315deg 100% 22%) 89%,
    hsl(341deg 100% 35%) 97%,
    hsl(3deg 67% 49%) 100%,
    hsl(4deg 74% 69%) 101%,
    hsl(2deg 69% 84%) 102%,
    hsl(340deg 26% 81%) 102%,
    hsl(263deg 16% 63%) 101%,
    hsl(205deg 42% 39%) 101%,
    hsl(205deg 100% 30%) 101%,
    hsl(216deg 100% 34%) 100%,
    hsl(246deg 78% 38%) 100%
  );
  

  color: #fff;
  position: relative;
}

.box {
  width: 36rem;
  height: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  width: 100%;
  height: 100%;
  background: rgba(235, 0, 255, 0.11);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.2rem);
}

.box::before {
  content: " ";
  width: 8rem;
  height: 8rem;
  background: #f41b75;
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
  border-radius: 0.3rem;
}
.box::after {
  content: " ";
  width: 8rem;
  height: 8rem;
  background: #f41b75;
  position: absolute;
  right: -40px;
  bottom: -40px;
  z-index: -1;
  border-radius: 50%;
}

.clock span {
  font-size: 3rem;
  width: 6rem;
  position: relative;
  text-align: center;
}

.clock span::after {
  font-size: 1rem;
  position: absolute;
  bottom: -1.9rem;
  left: 50%;
  transform: translateX(-50%);
}

#hrs::after {
  content: "HOURS ";
}
#mins::after {
  content: "MINS ";
}
#sec::after {
  content: "SEC";
}
