* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to top, #02132b 0%, #173247 100%);
}

.container {
  position: absolute;
  left: 12%;
  top: 20%;
}

h1 {
  font-size: 2.8rem;
  color: white;
  margin-bottom: 2rem;
  text-underline-offset: 8px;
}

span {
  font-size: 34px;
  color: green;
  text-decoration: underline;
}

.display {
  width: 23rem;
  background: white;
  display: flex;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0.7rem 0;
}
.display input {
  width: 87%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
}

.generate {
  width: 14.5rem;
  display: flex;
  background: green;
  border-radius: 0.2rem;
  padding-left: 0.9rem;
  gap: 1rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
button {
  font-size: 1rem;
  color: #fff;
  outline: none;
  border: none;
  background: green;
}

img {
  width: 2.5rem;
  height: 2.5rem;
}
